.pdf-mode select {
  font-size: 12px !important;
  padding: 2px 4px !important;
  border: 1px solid #ccc !important;
  width: auto !important;
}

.pdf-mode .filters-in-pdf {
  display: none !important;
}