<!-- Fixed navbar on top -->

<app-loader *ngIf="loading || !initialAuthResolved"></app-loader>
<app-navbar *ngIf="!isAuthPage && initialAuthResolved"></app-navbar>

<!-- Main layout starts below navbar -->
<div 
  [ngClass]="{
    'mt-[68px] flex flex-col md:flex-row min-h-screen': !isAuthPage,
    'min-h-screen': isAuthPage
  }"
>
  <!-- Fixed Sidebar (only on desktop) -->
  <app-sidebar *ngIf="!isAuthPage && initialAuthResolved"
               class="hidden md:block fixed top-[68px] left-0 w-1/4 max-w-xs h-[calc(100vh-68px)] bg-gray-800 text-white z-10">
  </app-sidebar>

  <!-- Main Content -->
  <main 
    [ngClass]="{
      'flex-1 md:ml-[25%] bg-gray-100 dark:bg-gray-950 text-black dark:text-white min-h-[calc(100vh-68px)]': !isAuthPage,
      'w-full min-h-screen bg-gray-100 dark:bg-gray-950 text-black dark:text-white': isAuthPage
    }"
  >
    <router-outlet *ngIf="initialAuthResolved"></router-outlet>
  </main>
</div>
